<div class="column">
    {{ render(url('sylius_shop_partial_channel_menu_taxon_index', {'template': '@SyliusShop/Taxon/_horizontalMenu.html.twig'})) }}
    {{ sylius_template_event('sylius.shop.layout.header.content') }}
</div>
